.home_wrapper {
  width: 90%;
  margin: 40px auto;
  background-color: white;
  border-radius: 5px;
}

.home_wrapper .header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home_wrapper h2,
.home_wrapper h3 {
  text-align: center;
}

.home {
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
}

.home input {
  padding: 15px 10px;
  border-radius: 10px;
  margin: 0px 10px 2rem 10px;
  border: 1px solid #d9e7e2;
  font-size: 13px;
  font-family: system-ui, Segoe UI, sans-serif, color-emoji;
  font-style: normal;
}

.home input:focus {
  outline: none;
}

.home .duration {
  margin: -25px auto 2rem 10px;
}

.home .duration small:nth-child(1) {
  margin-right: 10px;
}

.home .duration span {
  color: green;
}

.home button:enabled {
  box-shadow: #0000000d 0px 0px 0px 1px;
  background-color: #dd2334;
  font-weight: bold;
  border: none;
  margin: 0px 10px 2rem 10px;
  padding: 15px 10px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.home button:disabled {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #d9e7e2;
  font-weight: bold;
  color: white;
  border: none;
  margin: 0px 10px 2rem 10px;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: not-allowed;
  font-size: 15px;
}

.contacts {
  text-align: center;
  margin: -1rem auto 1rem auto;
}

.contacts a {
  color: #0000004d;
  text-decoration: none;
  padding: 0px 10px;
}

.messages {
  box-shadow: 0 4px 8px #0000004d;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  font-size: large;
  border-radius: 10px;
  margin: 2rem 5px 5px 5px;
  height: 48vh;
}

.messages .messages_container {
  overflow-y: scroll;
}

.messages_top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.messages_container .link {
  color: green;
  text-decoration: none;
  margin-left: 1px;
}

/* DESKTOP */

@media only screen and (min-width: 768px) {
  .home_wrapper {
    width: 35%;
  }

  .home button {
    margin-top: 3rem;
  }

  .messages .messages_container::-webkit-scrollbar {
    display: none;
  }
}
