.resellerwrapper {
  width: 90%;
  margin: 12px auto;
  background-color: white;
  border-radius: 5px;
}

.resellerwrapper .header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.resellerwrapper h2,
.resellerinfo {
  text-align: center;
}

.resellerinfo {
  margin-bottom: 10px;
}

.reseller {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
}

.reseller .passwordcontainer {
  position: relative;
  display: flex;
  align-items: center;
}

.reseller input {
  color: black;
  font-family: system-ui, Segoe UI, sans-serif, color-emoji;
  font-style: normal;
  margin: 0 10px 2rem 10px;
  padding: 1rem 5px;
  border-radius: 10px;
  border: 1px solid #d9e7e2;
  outline: none;
}

#password {
  width: 100%;
}

.reseller .checkstatus small {
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  display: flex;
  margin-left: 10px;
}

.reseller .checkstatus small .icon {
  font-size: 15px;
}

.reseller .checkstatus .taken {
  color: #dd2334;
}

.reseller .checkstatus .available {
  color: green;
}

#characters {
  margin: -2rem 0px 2rem 0px;
}

.reseller button:enabled {
  margin: 0px 10px 2rem 10px;
  padding: 1rem 5px;
  border-radius: 10px;
  background-color: #dd2334;
  font-weight: bold;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border: 0px;
}

.reseller button:disabled {
  margin: 0px 10px 2rem 10px;
  padding: 1rem 5px;
  border-radius: 10px;
  border: 0px;
  background-color: #d9e7e2;
  font-weight: bold;
  font-size: 15px;
  cursor: not-allowed;
}

.reseller .link {
  color: green;
  text-decoration: none;
  margin-left: 1px;
}

.reseller .passwordcontainer i {
  cursor: pointer;
  position: absolute;
  right: 9%;
  top: 34%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: green;
  z-index: 2;
}

/* DESKTOP */

@media only screen and (min-width: 768px) {
  .resellerwrapper {
    margin: 40px auto;
    width: 35%;
  }
}
